/* Общие стили */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
button:focus {
    outline: none !important
}
form input:focus{
    outline: none !important
}
.overall{
    flex-grow: 1;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
    flex-grow: 1;
}
.wrapper{
    display: flex;
    justify-content: space-between;
}
/* Стили для header */
.header{
    background-color: #222222;
}
.top{
    padding: 18px 0px 20px;
    display: flex;
    justify-content: space-between;
}
.top-btn1{
    border: none;
    background-color: transparent;
    width: 26px;
    height: 26px;
    background-image: url(../img/icon2.svg);
}
.top-btn2{
    border: none;
    background-color: transparent;
    width: 32px;
    height: 23px;
    background-image: url(../img/icon3.svg);
}
.top-btn3{
    border: none;
    background-color: transparent;
    width: 29px;
    height: 29px;
    background-image: url(../img/icon4.svg);
    margin-left: 33px;
}
.top-btn4{
    border: none;
    background-color: transparent;
    width: 41px;
    height: 37px;
    background-image: url(../img/icon5.svg);
    margin-left: 33px;
}
.top-left{
    min-width: 157px;
}
.top-right{
    min-width: 168px;
}
.top-ref{
    margin-right: 41px;
}
.img-right{
    margin-left: 33px;
}
/* Стили для brand */
.brand{
    background: #F1E4E6;
    display: flex;
}
.brand-man{
    margin-left: -230px;
}
.brand-title{
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}
.big{
    text-transform: uppercase;
}
.brand-subtitle{
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color:#F16D7F;
}
.text-block{
    margin: 290px 331px 358px 64px;
    border-left: 12px #F16D7F solid;
    padding-left: 16px;
    min-width: 423px;
}
/* Стили для Triplet */
.triplet{
    margin-top: 65px;
    width: 1140px;
    display: flex;
    justify-content: space-between;
}
.triplet-man{
    width: 360px;
    height: 260px;
    background-image: url(../img/man.svg);
}
.triplet-woman{
    width: 360px;
    height: 260px;
    background-image: url(../img/woman.svg);
}
.triplet-kid{
    width: 360px;
    height: 260px;
    background-image: url(../img/kid.svg);
}
.triplet-wide{ 
    margin-top: 30px;
}
.wide{
    width: 1140px;
    height: 180px;
    background-image: url(../img/wide.svg);
    display: flex;
}
.wide-text{
    margin: 65px 485px;
    text-align: center;
}
.triplet-text{
    margin: 105px 103px;
    text-align: center; 
}
.triplet-title{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 30px;
    font-weight: 900;
    color: #F16D7F;
    text-transform: uppercase;
}
.triplet-subtitle{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-transform: uppercase;
}
/* Стили для items */
.items{
    display: flex;
    flex-direction: column;
}
.items-title{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    margin-top: 96px;
    text-align: center;
}
.items-text{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 47px;
}
.items-product{
    margin-bottom: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product{
    width: 360px;
    background: #F8F8F8;
    margin-bottom: 30px;
    position: relative;
}
.product:hover .product-img{
    filter: brightness(50%);
}
.product:hover .shadow-btn{
    display: block;
    top: 0;
    left: 115px;
}
.shadow-btn{
    display: none;
    border: none;
    background-color: transparent;
    margin-top: 202px;
    min-width: 140px;
    height: 43px;
    border: 1px solid #FFFFFF;
    padding: 10px 13px 8px;
    position: absolute;
}
.shadow-txt{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.shadow-img{
    vertical-align:middle;
    margin-right: 10px;
}
.product:hover .shadow{
    z-index: 2;
}
.product-title{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    text-transform: uppercase;
}
.product-text{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-top: 12px;
}
.cost{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-top: 18px;
}
.subproduct{
    margin: 25px 28px;
    padding-bottom: 20px;
}
.items-button{
    border: 1px solid #FF6A6A;
    background-color: transparent;
    width: 211px;
    height: 47px;
    margin: 0 auto;
}
.items-button:hover{
    background: #F16D7F;
}
.items-button:hover span{
    color: #FFFFFF;
}
.items-button:active{
    background: transparent;
}
.items-button:active span{
    color: #F16D7F;
}
/* Стили для terms */
.terms{
    background: #222224;
    padding-top: 103px;
    padding-bottom: 104px;
    margin-top: 95px;
}
.terms-block{
    width: 360px;
}
.terms-img1{
    display: block;
    margin: 0 auto;
    width: 45px;
    height: 32px;
    margin-bottom: 28px;
}
.terms-img2{
    display: block;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    margin-bottom: 19px;
}
.terms-img3{
    display: block;
    margin: 0 auto;
    width: 47px;
    height: 34px;
    margin-bottom: 25px;
}
.terms-title{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 19.96px;
    line-height: 24px;
    text-align: center;
    color: #FBFBFB;
    margin-bottom: 16px;

}
.terms-text{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}
/* Стили для subscribe */
.subscribe{
    background-image: url(../img/subscribe.svg);
    background-repeat: no-repeat;
    background-position: left;
    width: 1600px;
    height: 448px;
    margin: 0 auto;
}
.subscribe-info{
    margin-top: 97px;
    margin-bottom: 126px;
    width: 360px;
    padding-bottom: 28px;
}
.face{
    display: block;
    margin: 0 auto;
}
.subscribe-text{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    margin-top: 30px;
}
.subscribe-input{
    margin-top: 150px;
    width: 557px;
}
.subscribe-input-low{
    margin-left: 104px;
    margin-top: 32px;
    display: flex;
}
.subscribe-title{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #222224;
}
.subscrube-sub-title{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}
.mail{
    box-sizing: border-box;
    width: 256px;
    height: 49px;
    background: #E1E1E1;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    opacity: 0.67;
    border: none;
    padding-left: 22px;
    border-radius: 20px 0 0 20px;
}
.subscribe-btn{
    background: #F16D7F;
    box-sizing: border-box;
    width: 100px;
    height: 49px;
    border: none;
    border-radius: 0 20px 20px 0;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}
.subscribe-btn:hover{
    background: #E05C6E;
}
.subscribe-btn:active{
    background: #F16D7F;
}
/* Стили для footer */
.footer{
    background: #222224;
}
.footer-text{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    margin: 30px 0px;
}
.footer-icons{
    margin-top: 24px;
    margin-bottom: 23px;
}
.footer-icon{
    width: 32px;
    height: 32px;
    margin-right: 7px;
}
.footer-icon path:nth-child(1){
    fill:white;
}
.footer-icon path:nth-child(2){
    fill: black;
}
.footer-icon:hover path:nth-child(1){
    fill: #F16D7F;
}
.footer-icon:hover path:nth-child(2){
    fill: white;
}
.footer-icon:active path:nth-child(1){
    fill:white;
}
.footer-icon:active path:nth-child(2){
    fill: black;
}
/* Стили для catalog */
.arrivals{
    background: #F8F3F4;
}
.arrivals-text-left{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    text-transform: uppercase;
    margin: 59px 0px 60px;
}
.arrivals-text-right{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    text-transform: uppercase;
    margin: 65px 0px 66px;
}
.arrivals-text-right2{
    color: #F16D7F;
}
.items-header{
    display: flex;
}
.items-filter{
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-transform: uppercase;
    margin-right: 11px;
}
.items-filter-btn{
    margin: 51px 11px 64px 0px;
    border: none;
    background-color: transparent;
    align-self:flex-start;
}
.filter-img{
    width: 15px;
    height: 10px;
}
.items-list{
    display: flex;
    margin: 51px 0px 64px 320px;
    list-style-type: none;
}
.items-list li{
    margin-right: 48px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    text-transform: uppercase;
    display: flex;
    position: relative;
    white-space: nowrap;
}
.items-list li::after{
    content: "";
    display: block;
    width: 10px;
    height: 5px;
    position: absolute;
    right: -19px;
    top: 5px;
    background-image: url(../img/check_mark.svg);
}
.img-items{
    width: 284px;
    height: 44px;
    margin: 0 auto;
    display: block;
}

/* Стили для Product*/
.large-img{
    display: flex;
    justify-content: space-between;
    background: #F7F7F7;
    height: 777px;
}
.large-btn-left{
    border: none;
    background-color: transparent;
    width: 47px;
    height: 47px;
    background-image: url(../img/left-btn.svg);
    margin: 365px 0px;
}
.large-btn-right{
    border: none;
    background-color: transparent;
    width: 47px;
    height: 47px;
    background-image: url(../img/right-btn.svg);
    margin: 365px 0px;
}
.collection{
    margin-top: -65px;
    margin-bottom: 129px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    text-align: center;
    padding-top: 65px;
    padding-bottom: 65px;
}
.collection-subtitle{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-transform: uppercase;
}
.collection-lane{
    width: 63px;
    height: 12px;
    border-bottom: #EF5B70 solid 3px;
    margin: 0 auto;
}
.collection-title{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    text-transform: uppercase;
    margin-top: 12px;
    margin-bottom: 48px;
}
.collection-text{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    width: 555px;
    margin: 0 auto;
}
.collection-cost{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
    display: block;
    margin-top: 32px;
    margin-bottom: 65px;
}
.collection-divide{
    width: 641px;
    border-bottom: 1px solid #EAEAEA;
    margin: 0 auto;
}
.collection-list{
    display: flex;
    list-style-type: none;
    margin-top: 65px;
    margin-bottom: 49px;
}
.collection-list li{
    margin-right: 48px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    text-transform: uppercase;
    display: flex;
    position: relative;
    white-space: nowrap;
}
.collection-list li::after{
    content: "";
    display: block;
    width: 10px;
    height: 5px;
    position: absolute;
    right: -19px;
    top: 5px;
    background-image: url(../img/check_mark.svg);
}
.collection-extra{
    margin: 0 auto;
    width: 300px;
}
.product-terms{
    background: #222224;
    padding-top: 103px;
    padding-bottom: 104px;
    margin-top: 50px;
}
.product-cost{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-top: 18px;
    vertical-align: center;
}
.product-btn{
    border: 1px solid #FF6A6A;
    background-color: transparent;
    width: 211px;
    height: 47px;
    margin: 0 auto;
    position: relative;
}
.product-btn-img{
    vertical-align:middle;
    margin-right: 10px;
    position: absolute;
    left: 20px;
}
/* Стили для Cart*/
.shopping{
    margin-top: 96px;
    margin-bottom: 128px;
    width: 652px;
}
.mango{
    display: flex;
    width: 652px;
    box-shadow: 1em 1em 15px rgb(122 122 122 / 35%);
    margin-bottom: 40px;
    margin-right: 128px;
}
.mango-img{
    display: block;
}
.mango-info{
    padding: 22px 22px 22px 31px;
    position: relative;
    width: 100%;
}
.mango-title{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    text-transform: uppercase;
    width: 200px;
}
.mango-list{
    list-style-type: none;
    margin-top: 42px;
}
.mango-list li{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
    margin-top: 6px;
}
.mango-cost{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #F16D7F;
}
.mango-quantity{
    width: 43px;
    height: 24px;
    border: 1px solid #EAEAEA;
    margin-left: 24px;
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #656565;;
}
.mango-x{
    position: absolute;
    top: 28px;
    right: 22px;
}
.shopping{
    display: flex;
}
.shopping-button{
    border: 1px solid #A4A4A4;
    min-width: 234px;
    height: 49px;
    background: transparent;
    margin-top: 72px;
}
.shopping-button span{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-transform: uppercase;
}
.shopping-title{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    text-transform: uppercase;
}
.shopping-data{
    width: 360px;
    height: 45px;
    margin-top: 20px;
    box-sizing: border-box;
    border: 1px solid #A4A4A4;
    padding-left: 16px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
}
.shopping-quote{
    border: 1px solid #A4A4A4;
    min-width: 100px;
    height: 34px;
    background: transparent;
    margin-top: 24px;
}
.shopping-quote span{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    text-transform: uppercase;
}
.checkout{
    width: 360px;
    min-height: 214px;
    background: #F5F3F3;
    margin-top: 57px;
    text-align: right;
    padding: 39px 43px 42px 44px;
    box-sizing: border-box;
}
.checkout-button{
    width: 273px;
    height: 50px;
    box-sizing: border-box;
    background: #F16D7F;
    border: none;
    margin-top: 17px;
}
.checkout-button span{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.checkout-line{
    width: 273px;
    height: 1px;
    background:#E2E2E2;
    margin-top: 21px;
}
.checkout-sub{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.checkout-sub span{
    margin-left: 15px;
}
.checkout-grand{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    text-transform: uppercase;
    margin-bottom: 21px;
}
.checkout-grand span{
    margin-left: 15px;
    color: #F16D7F;
}